/* General */
.yesNoButton
{
    margin-left: 30px ;
}
span.redBold
{
    color: 'red';
    font-weight: 'bold';
}

/* Roll Dice Component */
.diceImg
{
    max-height: 55px;
    padding: 5px;
}
.throwDicesButton
{
    max-height: 55px;
    padding: 0px 30px;
    margin-right: 30px;
}

/* Player Bar Component */
.playerBox
{
    width: 150px;
    display: inline-table;
}
.endTurnButton
{
    margin-left: 30px ;
}

/* Action Options */
.actionsButton
{
    border: 2px solid black;
    padding: 0px 50px 0px 50px;
    margin: 10px 0px;
    background: transparent;
}

/* Manage */
.manageTable
{
    display: inline-table;
}
.houses
{
    max-height: 35px;
    padding: 5px;
}

/* Trade */
 .tradeTable
{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
} 
.propertyBox
{
    height: 1em;
    width: 1em;
    background: red;
    margin-left: 10px ;
    margin-right: 10px ;
}
.propertyRow
{
    width: fit-content;
    display: flex;
    justify-content: space-around;
}  
.tradeSection
{
    padding: 10px;
}