.row-top,
.row-bottom {
  min-height: 110px;
  min-width: 55px;
}

.row-center {
  min-height: 55px;
}
.container-fluid {
  min-height: 800px !important;
  min-width: 800px !important;
  height: 80vh;
  width: 80vw;
}
