/* General */
@media(orientation: portrait) {
  .boardCenter * { font-size: 2vw; }
}
@media(orientation: landscape) {
  .boardCenter * { font-size: 2vh; }
}



/* Roll Dice Component */
.rollDiceComponent 
{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(orientation: portrait)
{
  .diceImg { height: 6vw; padding: 0.5vw; }
  .diceImages { margin-left: 2.5vw; }
  #throwDicesButton 
  { 
      height: 4vw; 
      margin-right: 2.5vw; 
      border-radius: 1vw;
      padding: 0.5vw 1.5vw;
      line-height: 50%;
  }
}

@media(orientation: landscape)
{
  .diceImg { height: 6vh; padding: 0.5vh; }
  .diceImages { margin-left: 2.5vh; }
  #throwDicesButton 
  { 
      height: 4vh; 
      margin-right: 2.5vh; 
      border-radius: 1vh;
      padding: 0.5vh 1.5vh;
      line-height: 50%;
  }
}



/* Player Bar Component */
.playerBar { display: flex; flex-direction: column; }
.playerBarInnerDiv 
{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.propertyRow {
  display: flex;
  width: fit-content;
  justify-content: space-around;
}

#endTurnButton
{
  width: fit-content;
  align-self: center;
  line-height: 50%;
}

@media(orientation: portrait)
{
  #endTurnButton 
  { 
      height: 4vw; 
      margin: 1vw;
      border-radius: 1vw;
      padding: 0.5vw 1.5vw;
  }
  .playerBox 
  { 
    padding: 0.5vw; 
    border-radius: 1vw; 
    width: 20%; 
  }
}

@media(orientation: landscape)
{
  #endTurnButton 
  { 
      height: 4vh; 
      margin: 1vh;
      border-radius: 1vh;
      padding: 0.5vh 1.5vh;
  }
  .playerBox 
  { 
    padding: 0.5vh; 
    border-radius: 1vh; 
    width: 20%; 
  }
}



/* Action Options Component */
.actionOptions * { line-height: 50%; border: 0; }
@media(orientation: portrait)
{     
  .actionOptions .btn-group .btn { padding: 1.5vw 1.5vw; }
}
@media(orientation: landscape)
{     
  .actionOptions .btn-group .btn { padding: 1.5vh 1.5vh; }
}



/* LogBox Component */
.logBox {
  display: flex;
  flex-direction: column-reverse;

  width: 90%;
  white-space: pre-line;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0;
}
@media(orientation: portrait)
{
  .logBox 
  { 
    height: 20vw; 
    font-size: 2vw; 
    border: 0.1vw solid black;
    border-radius: 0.5vw;
  }
}
@media(orientation: landscape) and (max-height: 600px)
{
  .logBox 
  { 
    height: 20vh; 
    font-size: 2vh; 
    border: 0.1vh solid black;
    border-radius: 0.5vh;
  }
}
@media(orientation: landscape) and (min-height: 600px) /* mainly PCs */
{
  .logBox 
  { 
    height: 20vh; 
    font-size: 1.5vh; 
    border: 0.1vh solid black;
    border-radius: 0.5vh;
  }
}