/* ?? wtf is wrong or static or by vh and vw*/
.row-top,
.row-bottom {
  min-height: 120px;
  min-width: 60px;
}

.row-center {
  min-height: 60px;
}
.container-fluid {
  min-height: 800px !important;
  min-width: 800px !important;
  height: 80vw;
  width: 80vw;
}

.board-center {
  position: absolute;
  z-index: 1;
}
