/* Popover which is displayed after standing on event field */
.popover-card-alert 
{
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.popover-card-alert .toast-header
{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popover-card-alert .card-body 
{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.popover-card-alert .card-title { font-size: 0.8em; font-weight: bold; }
.popover-card-alert .card-text { font-size: 0.6em; }

.popover-card-alert .toast-header .close { font-size: 1em !important; }