.field-is-bought-colored {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.field-is-bought > img {
  position: absolute;
  opacity: 0.5;
  width: 80%;
  height: 80%;
}


/* ORIENTATION SETTINGS */
@media (orientation: portrait) {
  /* PLAYERS' COLORS ON THE FIELDS */
  .card-top .field-is-bought-colored {
    height: calc(99vw / 6.5 - 2.3vw);
    width: 100%;
    bottom: 2.2vw;
    left: 0;
  }
  .card-botom .field-is-bought-colored {
    height: calc(99vw / 6.5 - 2.3vw);
    width: 100%;
    top: 2.2vw;
    left: 0;
  }
  .card-left .field-is-bought-colored {
    height: 100%;
    width: calc(99vw / 6.5 - 1vw);
    top: 0;
    left: 0;
  }
  .card-right .field-is-bought-colored {
    height: 100%;
    width: calc(99vw / 6.5 - 1.1vw);
    top: 0;
    left: 2.1vw;
  }

  /* BUG IMAGES ON MORTGAGED FIELDS */
  .card-top .field-is-bought > img { bottom: calc(2.2vw + 5%); left: 10%; }
  .card-botom .field-is-bought > img { top: 2.2vw; left: 10%; }
  .card-left .field-is-bought > img { top: 10%; left: 0; }
  .card-right .field-is-bought > img { top: 10%; left: 2.1vw; }
}
@media (orientation: landscape) {
  /* PLAYERS' COLORS ON THE FIELDS */
  .card-top .field-is-bought-colored {
    height: calc(99vh / 6.5 - 2.3vh);
    width: 100%;
    bottom: 2.2vh;
    left: 0;
  }
  .card-botom .field-is-bought-colored {
    height: calc(99vh / 6.5 - 2.3vh);
    width: 100%;
    top: 2.1vh;
    left: 0;
  }
  .card-left .field-is-bought-colored {
    height: 100%;
    width: calc(99vh / 6.5 - 1vh);
    top: 0;
    left: 0;
  }
  .card-right .field-is-bought-colored {
    height: 100%;
    width: calc(99vh / 6.5 - 1.1vh);
    top: 0;
    left: 2.1vh;
  }

  /* BUG IMAGES ON MORTGAGED FIELDS */
  .card-top .field-is-bought > img { bottom: calc(2.2vh + 5%); left: 10%; }
  .card-botom .field-is-bought > img { top: 2.2vh; left: 10%; }
  .card-left .field-is-bought > img { top: 10%; left: 0; }
  .card-right .field-is-bought > img { top: 10%; left: 2.1vh; }
}
