/* General table settings */
.cell { width: 100%; }

/* Rotating cards */
.card-top { flex-direction: column-reverse !important; }
.card-botom { flex-direction: column !important; }
.card-left { flex-direction: row-reverse !important; }
.card-right { flex-direction: row !important; }

/* General cards' settings */
.card 
{
  border: 0.1vh solid black;
  border-radius: 0;
  margin: 0 !important;
}
.card-text, .card-title, .card-subtitle 
{
  font-size: 0.7em;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}
.card-header { border-radius: 0 !important; }
.card-body 
{ 
  margin: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-deck { margin: 0; padding: 0; flex-flow: wrap; }
.col-1, .col-2 { padding: 0; }
.col { padding: 0; }

/* Card popover */
.card-popover 
{
  height: 200px;
  width: 150px;
  font-size: 1.4em;
  text-align: center;
}
.card-text-rentCost { font-size: 0.5em; }

/* Graphics */
.img-eventField 
{
  width: 50%;
  height: 50%;
}

/* ORIENTATION SETTINGS */
@media(orientation: portrait)
{
    .board * { font-size: 1.5vw; }
    .card-body { padding: 0.5vw; }
    .card-top .card-header 
    { 
      border-top: 0.1vw solid rgba(0, 0, 0, 0.125); 
      padding: 0.5vw;
    }
    .card-botom .card-header 
    { 
      border-top: 0.1vw solid rgba(0, 0, 0, 0.125); 
      padding: 0.5vw;
    }
    .card-left .card-header 
    { 
      border-left: 0.1vw solid rgba(0, 0, 0, 0.125); 
      padding: 0.5vw;
    }
    .card-right .card-header 
    { 
      border-right: 0.1vw solid rgba(0, 0, 0, 0.125); 
      padding: 0.5vw;
    }
}
@media(orientation: landscape)
{
    .board * { font-size: 1.5vh; }
    .card-body { padding: 0.5vh; }
    .card-top .card-header 
    { 
      border-top: 0.1vh solid rgba(0, 0, 0, 0.125); 
      padding: 0.5vh;
    }
    .card-botom .card-header 
    { 
      border-top: 0.1vh solid rgba(0, 0, 0, 0.125); 
      padding: 0.5vh;
    }
    .card-left .card-header 
    { 
      border-left: 0.1vh solid rgba(0, 0, 0, 0.125); 
      padding: 0.5vh;
    }
    .card-right .card-header 
    { 
      border-right: 0.1vh solid rgba(0, 0, 0, 0.125); 
      padding: 0.5vh;
    }
}